a {
  text-decoration: none;
  color: yellow;
  display:flex;
}
.title {
  width: 100%;
  height: 80px;
  background: #263343;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: xxx-large;
  align-items: center;
  padding: 20px 20px;

  .icon {
    font-size: 20px;
    padding: 30px;
    display: flex;
    color: yellow;
  }
 
}


.main {
  width: 100%;
  display: flex;

  .sidebar {
    background: #263343;
    color: white;

    .menu {
      border: 10px solid gray;
      padding: 10px;
    }
    .menu:hover {
      background-color: black;
      border-radius: 4px;
    }
  }

}


.posting {
  display: flex;
  width: 1000px;

  .posttitle {
    width: 30%;
    border: 10px;
    padding-left: 40px;
    text-align: left;
    font: bolder;

    .posttitledb {
      padding-bottom: 30px;
    }
  }
  .postdetail {
    width: 65%;
    border: 10px;

    .postdetaildb {
      padding-bottom: 30px;
    }
  }

  .postdate {
    width: 10%;
    border: 10px;
    text-align: left;

    .postdatedb {
      padding-bottom: 30px;
    }
  }
}
.menuTitle{
  font-weight: "bolder";
  text-align: center;
}

.postbottom {
  display: flex;
  float: right;
  padding: 50px;

  .postbutton {
    padding: 10px;
    border: 10px;
  }
  .deletebutton {
    padding: 10px;
    background: black;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
